# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MEANGEN output files
*.out
*.dat

# linked libraries on Windows (dll) or Linux/Mac (so)
*.so
*.dll

# other files
*.log
*.zip
*.doc
*.pdf
*.pptx